.wrapper {
    display: grid;
    position: relative;
    padding-left: 10%;
    padding-bottom: -50%;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20px, auto);
}

.wrapperPDF {
    display: grid;
    padding-left: 10%;
    padding-top: 2%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(20px, auto);
}
.one {
    grid-column: 1;
    grid-row: 1;
    font-size: 32px;
    border-radius: 25px;
}
.two {
    grid-column: 2;
    grid-row: 1;
    font-size: 32px;
    border-radius: 25px;
}
.three {
    grid-column: 3;
    grid-row: 1;
    font-size: 32px;
    border-radius: 25px;
}
.four {
    grid-column: 4;
    grid-row: 1;
    font-size: 32px;
    border-radius: 25px;
}
.five {
    grid-column: 1;
    grid-row: 2;
    font: 22px sans-serif;
    text-align: center;
    width: 300px;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: relative;
    bottom: 4%;
}
.six {
    grid-column: 2;
    grid-row: 2;
    font: 22px sans-serif;
    text-align: center;
    width: 300px;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: relative;
    bottom: 4%;
}
.seven {
    grid-column: 3;
    grid-row: 2;
    font: 22px sans-serif;
    text-align: center;
    width: 300px;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: relative;
    bottom: 4%;
}
.eight {
    grid-column: 4;
    grid-row: 2;
    font: 22px sans-serif;
    text-align: center;
    width: 300px;
    height: 600px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    position: relative;
    bottom: 4%;
}